@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}


html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 1500px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-transform: uppercase;

  color: #333333;
  background-color: #e9eae2;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/*------------------------------
------  независимые блоки ------
------------------------------*/

.studio-label {
  width: 162px;

  font-size: 18px;
  line-height: 18px;
}

.studio-label .logo {
  display: block;
}

.studio-label .description {
  margin: 0;
  margin-bottom: 60px;
  width: 100px;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  width: 162px;

  font-size: 0;
  list-style: none;
}

.socials-item + .socials-item {
  margin-left: 15px;
}

.socials-link {
  display: block;
}

.socials-link--facebook {
  width: 10px;
  height: 22px;

  background-image: url("../img/icons/facebook.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.socials-link--twitter {
  width: 26px;
  height: 21px;

  background-image: url("../img/icons/twitter.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.socials-link--linkedin {
  width: 24px;
  height: 23px;

  background-image: url("../img/icons/linkedin.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.socials-link--google {
  width: 19px;
  height: 19px;

  background-image: url("../img/icons/google.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/************************************/



.main-header {
  display: flex;

  min-height: 500px;
}

.main-header-left {
  padding-top: 50px;
  padding-left: 168px;
  width: 1035px;

  color: #393d3c;

  background-image: url("../img/header-bg.png");
  background-position: top right;
  background-repeat: no-repeat;
}

.main-header .adress {
  margin: 0;
  margin-bottom: 45px;
}

.main-header .contacts {
  margin: 0;
  padding-left: 75px;
}

.main-header-right {
  position: relative;

  padding-top: 260px;
  padding-left: 60px;
  width: 465px;

  font-size: 13px;
  line-height: 14px;

  color: #ffffff;
  background-color: #7acec3;
}

.main-header-right::before {
  content: "";
  position: absolute;

  bottom: 0;
  left: 0;

  width: 1px;
  height: 682px;

  background-color: #ffffff;

  transform: rotate(42.8deg);
  transform-origin: bottom;
}



/* closed ~start */
/*

.main-navigation {
  position: absolute;

  top: 50px;
  right: 170px;

  width: 120px;
  height: 120px;

  border: 3px solid #ffffff;
}


.main-navigation .list {
  display: none;

  margin: 0;
  padding: 0;

  list-style: none;
}


.main-navigation .close-button {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;

  margin-top: -9px;
  margin-left: -20px;
  padding: 0;
  border: 0;

  width: 40px;
  height: 18px;

  background-color: transparent;

  cursor: pointer;
}

.close-button::before,
.close-button::after {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;

  width: 40px;
  height: 3px;

  background-color: #ffffff;
}

.close-button::before {
  margin-top: -9px;
  margin-left: -20px;

  box-shadow: 0 7px 0 0 #ffffff
}

.close-button::after {
  margin-top: 5px;
  margin-left: -20px;
}
*/

/* closed ~end */



/* opened ~start */

.main-navigation {
  position: absolute;

  top: 50px;
  right: 170px;

  min-width: 725px;
  height: 120px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;

  background-color: #f8c255;
}

.main-navigation .list {
  display: flex;
  margin: 0;
  padding: 50px;
  padding-bottom: 45px;

  list-style: none;
}

.main-navigation .item {
  margin-right: 65px;
}

.main-navigation .close-button {
  content: "";
  position: absolute;

  top: 50%;
  right: 50px;

  margin-top: -9px;
  padding: 0;
  border: 0;

  width: 40px;
  height: 18px;

  background-color: transparent;

  cursor: pointer;
}

.close-button::before,
.close-button::after {
  content: "";
  position: absolute;

  width: 40px;
  height: 3px;

  background-color: #ffffff;
}

.close-button::before {
  top: 50%;
  left: 50%;

  margin-top: -2px;
  margin-left: -20px;

  transform: rotate(50deg);
}

.close-button::after {
  top: 50%;
  left: 50%;

  margin-top: -2px;
  margin-left: -20px;

  transform: rotate(-50deg);
}

/* opened ~end */



.projects {
  display: flex;
}

.projects-layout-left {
  display: flex;
  flex-wrap: wrap;

  width: 1035px;
}

.projects-layout-right {
  width: 465px;
}

.projects-header {
  width: 465px;
  min-height: 500px;

  font-size: 13px;
  line-height: 14px;

  color: #ffffff;
  background-color: #ebb240;
}

.projects-header .projects-title {
  font-size: 48px;
  line-height: 48px;
  color: #fefefe
}

.projects-navigation-list {
  list-style: none;
}

.project {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  color: #333333;
}

.project .project-name {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.project .project-information {}

.project .lead {
  font-weight: 700;
}

.project-like-count {
  font-size: 11px;
  line-height: 12px;
  color: #ff0000;
}

.project .project-view-link {
  font-size: 18px;
  line-height: 18px;
  color: #333333;
}

.project--fondue {
  width: 570px;
  min-height: 500px;

  outline: 1px solid black;
}

.project--louis {
  width: 300px;
  min-height: 465px;
}

.project--p22 {
  width: 735px;
  min-height: 465px;

  outline: 1px solid red;
}

.project--sesann {
  width: 735px;
  min-height: 300px;
}

.project--alessi {
  width: 300px;
  min-height: 300px;

  outline: 1px solid red;
}

.project--potter {
  min-height: 250px;
}

.project--tabano {
  min-height: 465px;

  outline: 1px solid blue;
}

.project--fiji {
  min-height: 250px;

  outline: 1px solid green;
}


.projects-footer {
  min-height: 300px;

  background-color: #ebb240;
}

.projects-footer .projects-title {
  font-size: 14px;
  line-height: 14px;
}

.projects-footer .projects-navigation {
  font-size: 13px;
  line-height: 14px;
}



.studio {
  display: flex;
  flex-wrap: wrap;

  background-color: #e9eae2;
}

.studio-header {
  position: relative;

  padding-top: 295px;
  padding-left: 215px;
  width: 465px;
  height: 500px;

  background-color: #ff9b6d;
}

.studio-header::before {
  content: "";
  position: absolute;

  bottom: 0;
  left: 0;

  width: 1px;
  height: 682px;

  background-color: #ffffff;

  transform: rotate(42.8deg);
  transform-origin: bottom;
}

.studio-title {
  margin: 0;

  font-size: 48px;
  line-height: 48px;
  font-weight: 400;

  color: #fefefe;
}

.studio-layout {
  position: relative;

  display: flex;
  padding-top: 95px;
  padding-left: 115px;
  padding-right: 170px;
  width: 1035px;
  min-height: 500px;
}

.studio-image {
  position: absolute;

  top: 95px;
  left: 505px;

  width: 360px;
  height: 200px;
}

.studio .about {
  margin-right: 40px;
  width: 350px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  text-transform: none;

  color: #333333;
}

.studio .about-lead {
  margin-top: 0;

  font-style: italic;
}

.studio .about-lead + .about-lead {
  margin-bottom: 32px;
}

.studio .awards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  padding-top: 240px;
  width: 360px;
}

.awards .awards-title {
  margin: 0;
  margin-bottom: 20px;
  width: 360px;

  font-size: 14px;
  line-height: 19px;
  font-weight: 700;

  border-bottom: 1px solid #bfc0b9;
}

.awards .awards-text {
  margin: 0;

  width: 150px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}



.staff-layout {
  display: flex;
  padding-top: 60px;
  padding-bottom: 100px;

  font-size: 14px;
  line-height: 18px;
}

.staff-about {

  padding-left: 165px;
  padding-right: 30px;
  width: 465px;

  /*
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
*/
  hyphens: auto;
}

.staff-title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.staff-text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  text-transform: none;
}

.staff-text:last-child {
  margin-bottom: 0;
}

.staff-person {
  margin-right: 30px;
  width: 270px;
}

.staff-person:last-child {
  margin-right: 0px;
}



.person-image {
  display: block;
  margin-bottom: 17px;
}

.person-information {
  margin: 0;
}

.person-name {
  display: block;

  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
}

.person-profession {
  display: block;
  margin-top: -5px;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 16px;
}

.person-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.person-cv {
  position: relative;
  margin-top: -2px;

  font-size: 14px;
  line-height: 16px;
  color: #fd5000;

  text-decoration: none;
}

.person-cv::after {
  content: "";
  position: absolute;

  right: -27px;

  width: 20px;
  height: 15px;

  background-image: url("../img/icons/arrow-left.svg");
  background-repeat: no-repeat;
}

.person-links .socials-list {
  justify-content: flex-end;
  align-items: flex-start;
}

.person-links .socials-link--facebook {
  width: 7px;
  height: 13px;

  background-image: url("../img/icons/facebook-orange.svg");
}

.person-links .socials-link--twitter {
  width: 13px;
  height: 10px;

  background-image: url("../img/icons/twitter-orange.svg");
}

.person-links .socials-link--linkedin {
  width: 12px;
  height: 12px;

  background-image: url("../img/icons/linkedin-orange.svg");
}

.person-links .socials-link--google {
  width: 18px;
  height: 12px;

  background-image: url("../img/icons/google-orange.svg");
}



.news {
  display: flex;
}

.news-header {
  position: relative;

  padding-top: 295px;
  padding-left: 215px;
  width: 465px;
  min-height: 500px;

  background-color: #d4edbf;
}

.news-header::before {
  content: "";
  position: absolute;

  bottom: 0;
  left: 0;

  width: 1px;
  height: 682px;

  background-color: #ffffff;

  transform: rotate(42.8deg);
  transform-origin: bottom;
}

.news-title {
  margin: 0;

  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  color: #fefefe;
}

.news-content {
  display: flex;
  padding-top: 80px;
  padding-left: 100px;
}

.news .article {
  margin-right: 30px;
  width: 370px;
}

.news .article:last-child {
  margin-right: 0;
}

.news .article-header {
  margin: 0;
  min-height: 52px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.news .article-date {
  display: block;
  margin-bottom: 18px;

  font-size: 12px;
  line-height: 14px;
  color: #6a6969;
}

.news .article-image {
  display: block;
  margin-bottom: 20px;
}

.news .article-lead {
  margin: 0;
  margin-bottom: 8px;

  font-size: 12px;
  line-height: 14px;
  text-transform: none;
  text-align: justify;
  color: #6a6969;
}

.news .article-more {
  display: block;

  text-align: right;
  color: #fd5000;

  text-decoration: none;
}



.main-footer {
  display: flex;
}

.main-footer .map {
  width: 750px;
  height: 650px;
}

.main-footer-right {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding-top: 150px;
  padding-left: 115px;
  padding-bottom: 55px;
}

.main-footer .information {
  width: 300px;

  font-size: 13px;
  line-height: 14px;
}

.information a {
  color: inherit;
}

.main-footer .adress {
  margin: 0;
  margin-bottom: 15px;
}

.main-footer .contacts {
  margin: 0;
}

.main-footer .studio-label {
  font-size: 18px;
  line-height: 18px;
}

.main-footer .copyright {
  margin: 0;

  font-size: 12px;
  line-height: 22px;
  text-transform: none;
  color: #191919;
}
